<div class="container" style="length: 30%">
    <h1>Check Individual Hours</h1>
    <div class="border p-2">
        <form>
            <fieldset>
                <legend>Check by ID</legend>
        
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Input ID">
                </div>
                <submit class="btn btn-primary">Submit</submit>
            </fieldset>
        </form>
    </div>
    <br>
    <div class="border p-2">
        <form>
            <fieldset>
                <legend>Check by Name</legend>
        
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Input Name">
                </div>
                <submit class="btn btn-primary">Submit</submit>
            </fieldset>
        </form>
    </div>
    
</div>