<div class="container border py-2" style="length: 30%">
        <form>
            <fieldset>
                <legend>Input Service Hours</legend>
        
                <div class="form-group">
                    <label>Applicant/Activity</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Hours</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" id="datepicker" onkeydown="return false">
                </div>
                <div class="form-group">
                    <label>Member(s)</label>
                    <select id="dropdown" class="form-control" name="sid[]", multiple="multiple">
                        <option>2013096</option>
                        <option>2013086</option>
                        <option>2013092</option>
                    </select>
                </div>
                <submit class="btn btn-primary">Submit</submit>
            </fieldset>
        </form>
</div>
